{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formations list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td><h4>{{ formation.titre }}</h4></td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ path('formation_show', { 'id': formation.id }) }}">show</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('formation_edit', { 'id': formation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('formation_new') }}">Create a new formation</a>
{% endblock %}
